<launch>
  <arg name="joint_states_topic" default="/so101/joint_states"/>
  <arg name="commanded_joint_states_topic" default="/so101/commanded_joint_states"/>
  <arg name="servo_status_topic" default="/so101/servo_status"/>
  <arg name="load_compensation_topic" default="/so101/load_compensation_state"/>
  <arg name="out_topic" default="/so101/trajectory_bias_state"/>
  <arg name="publish_rate_hz" default="20.0"/>
  <arg name="fresh_timeout_s" default="0.5"/>
  <arg name="filter_tau_s" default="3.0"/>
  <arg name="deadband_rad" default="0.002"/>
  <arg name="max_abs_bias_rad" default="0.04"/>
  <arg name="max_bias_rate_rad_s" default="0.004"/>
  <arg name="require_load_state_for_valid" default="false"/>
  <arg name="csv_path" default=""/>
  <arg name="append_csv" default="false"/>

  <node pkg="so101_ros1_bridge" type="so101_low_frequency_bias_observer.py"
        name="so101_low_frequency_bias_observer" output="screen">
    <param name="joint_states_topic" value="$(arg joint_states_topic)"/>
    <param name="commanded_joint_states_topic" value="$(arg commanded_joint_states_topic)"/>
    <param name="servo_status_topic" value="$(arg servo_status_topic)"/>
    <param name="load_compensation_topic" value="$(arg load_compensation_topic)"/>
    <param name="out_topic" value="$(arg out_topic)"/>
    <param name="publish_rate_hz" value="$(arg publish_rate_hz)"/>
    <param name="fresh_timeout_s" value="$(arg fresh_timeout_s)"/>
    <param name="filter_tau_s" value="$(arg filter_tau_s)"/>
    <param name="deadband_rad" value="$(arg deadband_rad)"/>
    <param name="max_abs_bias_rad" value="$(arg max_abs_bias_rad)"/>
    <param name="max_bias_rate_rad_s" value="$(arg max_bias_rate_rad_s)"/>
    <param name="require_load_state_for_valid" value="$(arg require_load_state_for_valid)"/>
    <param name="csv_path" value="$(arg csv_path)"/>
    <param name="append_csv" value="$(arg append_csv)"/>
  </node>
</launch>
