<launch>
  <arg name="config" default="$(find so101_ros1_bridge)/config/so101_simplified_4dof.yaml"/>
  <arg name="with_description" default="true"/>
  <arg name="with_kinematics" default="true"/>
  <arg name="with_servo" default="false"/>
  <arg name="servo_rate_hz" default="100.0"/>
  <arg name="with_trajectory_action" default="false"/>
  <arg name="trajectory_action_resample_hz" default="0.0"/>
  <arg name="command_rate_hz" default="100.0"/>
  <arg name="publish_rate_hz" default="50.0"/>
  <arg name="feedback_read_rate_hz" default="50.0"/>
  <arg name="telemetry_rate_hz" default="2.0"/>
  <arg name="trajectory_interpolation" default="cubic"/>
  <arg name="command_lpf_alpha" default="1.0"/>
  <arg name="command_deadband_rad" default="0.0"/>
  <arg name="feedback_position_assist_gain" default="0.0"/>
  <arg name="feedback_position_assist_integral_gain" default="0.0"/>
  <arg name="feedback_position_assist_max_offset_rad" default="0.04"/>
  <arg name="feedback_position_assist_limit_margin_rad" default="0.03"/>
  <arg name="feedback_position_assist_alpha" default="0.15"/>
  <arg name="feedback_position_assist_max_feedback_age_s" default="0.12"/>
  <arg name="feedback_position_assist_trajectory_only" default="true"/>

  <group if="$(arg with_description)">
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find so101_description)/urdf/so101_arm.urdf.xacro'
                    variant:=follower
                    use_ros2_control:=false"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <remap from="joint_states" to="/so101/joint_states"/>
    </node>
  </group>

  <node pkg="so101_ros1_bridge" type="so101_driver_node.py" name="so101_driver_node" output="screen">
    <rosparam command="load" file="$(arg config)"/>
    <param name="backend" value="mock"/>
    <param name="command_rate_hz" value="$(arg command_rate_hz)"/>
    <param name="publish_rate_hz" value="$(arg publish_rate_hz)"/>
    <param name="feedback_read_rate_hz" value="$(arg feedback_read_rate_hz)"/>
    <param name="telemetry_rate_hz" value="$(arg telemetry_rate_hz)"/>
    <param name="trajectory_interpolation" value="$(arg trajectory_interpolation)"/>
    <param name="command_lpf_alpha" value="$(arg command_lpf_alpha)"/>
    <param name="command_deadband_rad" value="$(arg command_deadband_rad)"/>
    <param name="feedback_position_assist_gain" value="$(arg feedback_position_assist_gain)"/>
    <param name="feedback_position_assist_integral_gain" value="$(arg feedback_position_assist_integral_gain)"/>
    <param name="feedback_position_assist_max_offset_rad" value="$(arg feedback_position_assist_max_offset_rad)"/>
    <param name="feedback_position_assist_limit_margin_rad" value="$(arg feedback_position_assist_limit_margin_rad)"/>
    <param name="feedback_position_assist_alpha" value="$(arg feedback_position_assist_alpha)"/>
    <param name="feedback_position_assist_max_feedback_age_s" value="$(arg feedback_position_assist_max_feedback_age_s)"/>
    <param name="feedback_position_assist_trajectory_only" value="$(arg feedback_position_assist_trajectory_only)"/>
  </node>

  <node pkg="so101_ros1_bridge" type="so101_kinematics_node.py" name="so101_kinematics_node" output="screen"
        if="$(arg with_kinematics)">
    <rosparam command="load" file="$(arg config)"/>
  </node>

  <!-- Real-time Cartesian servo. Listens on /so101/cartesian_servo_target and
       /so101/ee_velocity_cmd and streams smoothed setpoints to
       /so101/command_joint_servo. Do not command /so101/cartesian_target and
       the servo topics at the same time. -->
  <node pkg="so101_ros1_bridge" type="so101_servo_node.py" name="so101_servo_node" output="screen"
        if="$(arg with_servo)">
    <rosparam command="load" file="$(arg config)"/>
    <param name="servo_rate_hz" value="$(arg servo_rate_hz)"/>
  </node>

  <node pkg="so101_ros1_bridge" type="so101_follow_joint_trajectory_server.py"
        name="so101_follow_joint_trajectory_server" output="screen"
        if="$(arg with_trajectory_action)">
    <rosparam command="load" file="$(arg config)"/>
    <param name="resample_hz" value="$(arg trajectory_action_resample_hz)"/>
  </node>
</launch>
