<launch>
  <arg name="config" default="$(find so101_ros1_bridge)/config/so101_planar_3dof_gripper.yaml"/>
  <arg name="mujoco_model_path" default=""/>
  <arg name="mujoco_substeps" default="10"/>
  <arg name="with_description" default="true"/>
  <arg name="with_kinematics" default="true"/>
  <arg name="with_servo" default="false"/>
  <arg name="servo_rate_hz" default="100.0"/>
  <arg name="with_trajectory_action" default="false"/>
  <arg name="trajectory_action_resample_hz" default="0.0"/>
  <arg name="command_rate_hz" default="100.0"/>
  <arg name="publish_rate_hz" default="50.0"/>
  <arg name="feedback_read_rate_hz" default="50.0"/>
  <arg name="telemetry_rate_hz" default="2.0"/>
  <arg name="trajectory_interpolation" default="cubic"/>
  <arg name="command_lpf_alpha" default="1.0"/>
  <arg name="command_deadband_rad" default="0.0"/>
  <arg name="feedback_position_assist_gain" default="0.0"/>
  <arg name="feedback_position_assist_integral_gain" default="0.0"/>
  <arg name="feedback_position_assist_max_offset_rad" default="0.04"/>
  <arg name="feedback_position_assist_limit_margin_rad" default="0.03"/>
  <arg name="feedback_position_assist_alpha" default="0.15"/>
  <arg name="feedback_position_assist_max_feedback_age_s" default="0.12"/>
  <arg name="feedback_position_assist_trajectory_only" default="true"/>

  <include file="$(find so101_ros1_bridge)/launch/mock_bridge.launch">
    <arg name="config" value="$(arg config)"/>
    <arg name="backend" value="mujoco"/>
    <arg name="mujoco_model_path" value="$(arg mujoco_model_path)"/>
    <arg name="mujoco_substeps" value="$(arg mujoco_substeps)"/>
    <arg name="with_description" value="$(arg with_description)"/>
    <arg name="with_kinematics" value="$(arg with_kinematics)"/>
    <arg name="with_servo" value="$(arg with_servo)"/>
    <arg name="servo_rate_hz" value="$(arg servo_rate_hz)"/>
    <arg name="with_trajectory_action" value="$(arg with_trajectory_action)"/>
    <arg name="trajectory_action_resample_hz" value="$(arg trajectory_action_resample_hz)"/>
    <arg name="command_rate_hz" value="$(arg command_rate_hz)"/>
    <arg name="publish_rate_hz" value="$(arg publish_rate_hz)"/>
    <arg name="feedback_read_rate_hz" value="$(arg feedback_read_rate_hz)"/>
    <arg name="telemetry_rate_hz" value="$(arg telemetry_rate_hz)"/>
    <arg name="trajectory_interpolation" value="$(arg trajectory_interpolation)"/>
    <arg name="command_lpf_alpha" value="$(arg command_lpf_alpha)"/>
    <arg name="command_deadband_rad" value="$(arg command_deadband_rad)"/>
    <arg name="feedback_position_assist_gain" value="$(arg feedback_position_assist_gain)"/>
    <arg name="feedback_position_assist_integral_gain" value="$(arg feedback_position_assist_integral_gain)"/>
    <arg name="feedback_position_assist_max_offset_rad" value="$(arg feedback_position_assist_max_offset_rad)"/>
    <arg name="feedback_position_assist_limit_margin_rad" value="$(arg feedback_position_assist_limit_margin_rad)"/>
    <arg name="feedback_position_assist_alpha" value="$(arg feedback_position_assist_alpha)"/>
    <arg name="feedback_position_assist_max_feedback_age_s" value="$(arg feedback_position_assist_max_feedback_age_s)"/>
    <arg name="feedback_position_assist_trajectory_only" value="$(arg feedback_position_assist_trajectory_only)"/>
  </include>
</launch>
